/*------------------------------------------------------------------
[Master Stylesheet]

Project:          Template
Version:          1.1
Created by:       Faizur Rehman
Inspired:         https://blog.codeminer42.com/how-to-organize-your-styles-with-itcss-3787cbc6dcbf/ 
ITCSS Auther:     Harry Roberts.
-------------------------------------------------------------------*/

// Settings
@import "css/00-settings/settings.global.scss";
@import "node_modules/bootstrap/scss/bootstrap";

// Tools
@import "css/01-tools/tools.mixins";

// Generic
@import "css/02-generic/generic.reset";

// Elements
@import "css/03-elements/elements.heading";

// Objects
@import "css/04-objects/objects.overlays";

// Components
@import "css/05-components/components.header";
@import "css/05-components/components.footer";
@import "css/05-components/components.profile"; // remove this

// Utilities
@import "css/06-utilities/utilities.clearfix";

// layouts
@import "css/07-layouts/layout.homepage";
