/*------------------------------------------------------------------
[Master Stylesheet]

Project:          Template
Version:          1.1
Created by:       Faizur Rehman
Inspired:         https://blog.codeminer42.com/how-to-organize-your-styles-with-itcss-3787cbc6dcbf/ 
ITCSS Auther:     Harry Roberts.
-------------------------------------------------------------------*/

// Settings
@import "node_modules/bootstrap/scss/bootstrap";

// head
@import "css/00-head/head.style.scss";
// body
@import "css/01-content/content.style.scss";
