.navbar_wrapper {
    background: $color_white;
    border: 1px solid $base_color;
}

.navbar_custom {
    background: $color_white;
}

.navbar_megamenu {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.nav-tabs {
    border-bottom: none !important;
    font-size: $main_font_size;
    .nav-item.show {
        .nav-link {
            border-top: none;
            border-left: none;
            border-right: none;
            color: $button_color !important;
            border-bottom: 2px solid $button_color;
            border-radius: 2px 2px 0px 0px !important;
        }
    }
    .nav-link.active {
        border-top: none;
        border-left: none;
        border-right: none;
        color: $button_color !important;
        border-bottom: 2px solid $button_color;
        border-radius: 2px 2px 0px 0px !important;
    }
    .nav-link {
        color: #9CAAC4 !important;
    }
}

.dropdown.show {
    .nav-link {
        position: relative;
        z-index: 12;
    }
    &:after {
        z-index: 10;
        opacity: 1;
        visibility: visible;
        position: fixed;
    }
}

.dropdown {
    &:after {
        content: '';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity .10s ease-in-out;
        opacity: 0;
        visibility: hidden;
        background-color: rgba(0, 0, 0, .2);
    }
}

.dropdown-menu {
    &:after {
        position: absolute;
        left: 19.5%;
        top: -15px;
        width: 0;
        height: 0;
        content: '';
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 20px solid $color_white;
    }
}

.megamenu {
    position: static !important;
    .dropdown-menu {
        background: none !important;
        width: 100% !important;
        font-size: 12px;
    }
}

.megamenu_container {
    background: $color_white !important;
    border: $main_border !important;
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    width: inherit;
}

.megamenu_container2 {
    background: $color_white !important;
    border: $main_border !important;
    padding: 20px !important;
    z-index: 200 !important;
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.megamenu_section {
    margin-bottom: 20px !important;
}

.megamenu_list {
    li {
        line-height: 28px;
        a {
            color: $label_small_color;
            font-weight: 400 !important;
        }
    }
}

.megasize {
    width: 920px !important;
}

.megasection_size {
    width: 300px !important;
}

.navbar-nav {
    li {
        font-size: 14.5px;
        padding-right: 7px;
        a {
            color: $label_small_color !important;
        }
    }
}

.dropdown-toggle {
    &:after {
        position: relative;
        top: 2px !important;
    }
}