{% extends "../layouts/default.twig" %}
{% block content %}

<!-- Demo Content -->
<main>
  <div class="welcome container">
    <p>Faizur Gulp Starter is one of best frontend project structure, designed for personal & client projects, This project
    structure created based on NodeJS & gulp to make everything automate including HTML, SASS/Postcss, Twig Templating
    Engine, JS, Minify and more...</p>
  </div>
</main>
{% endblock %}

<!-- scripts -->
{% block included_content %}
<script src="js/index.min.js"></script>
{% endblock %}