<!doctype html>
<html lang="eng">

<head>
  {% set head_title ='Day Trip Detail' %}
  {% include "../components/head.twig" %}
</head>

<body>
  <div class="ex_wrapper">
    {% include "../components/navbar.twig" %}
    {% include "../components/detail_day_trip.twig" %}
    {% include "../components/footer.twig" %}
    {{ block('included_content') }}
  </div>
</body>
</html> 
{% block content %}
{% endblock %}
<!-- scripts -->
{% block included_content %}
<script src="js/index.min.js"></script>
{% endblock %}