<!doctype html>
<html lang="eng">

<head>
  {% include "../components/head.twig" %}
</head>

<body>
  {% include "../components/header.twig" %}

  {% include "../components/content.twig" %}

  {% include "../components/footer.twig" %}

  <!-- This is very important tag if you wanna use differnt JS after footer in all html check the example in: pages/index.twig -->
  {{ block('included_content') }}
</body>
</html>