.tabs_step {
    border-radius: $border_radius_size !important;
    a {
        padding-top: 15px !important;
        padding-bottom: 0px !important;
        text-align: left !important;
        background: $color_white !important;
        border: 1px solid $main_border !important;
        box-sizing: border-box !important;
        border-radius: 0px 0px 0px 4px !important;
    }
    .nav-link {
        border-top: 4px solid #C9D3E2 !important;
        border-bottom: 0px !important;
    }
    .active {
        border-top: 4px solid #37637b !important;
        border-bottom: 0px solid $color_white !important;
    }
}