.tabs_step {
    border-radius: 8px !important;
    a {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        text-align: left !important;
        background: #FFFFFF !important;
        border: 1px solid #E1E7F1 !important;
        box-sizing: border-box !important;
        border-radius: 0px 0px 0px 4px !important;
    }
    .nav-link {
        border-top: 4px solid #C9D3E2 !important;
        border-bottom: 0px !important;
    }
    .active {
        border-top: 4px solid #37637b !important;
        border-bottom: 0px solid #fff !important
    }
}