* {
    font-family: 'Inter', sans-serif;
}

body {
    overflow-x: hidden;
}

.text_color {
    color: #6B7A9C;
}

.navbar_wrapper {
    background: #fff;
    border: 1px solid #ECF1F8;
}

.navbar_custom {
    background: #fff;
}

#logo {
    position: relative;
    top: -3px;
    margin-right: 25px;
}

.form-control {
    border: 1px solid #E1E7F1 !important;
}

.navbar-nav>li {
    padding-right: 7px;
    font-size: 14.5px;
}

.navbar-nav>li>a {
    color: #6B7A9C !important;
}

.active {
    font-weight: bold;
}

.img_iconsearch {
    position: absolute;
    padding-left: 6px;
}

.input_with_icon {
    padding: 5px 5px 5px 35px;
    background: #FFFFFF;
    border: 1px solid #E1E7F1;
    box-sizing: border-box;
    border-radius: 8px;
}

::-webkit-input-placeholder {
    /* Edge */
    color: 9CAAC4;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: 9CAAC4;
}

::placeholder {
    color: #9CAAC4;
}

/**
    Footer Style
**/

.footer {
    border-top: 1px solid #E1E7F1;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer_start {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 14.5px;
}

.footer_last_text {
    font-size: 14.5px;
    text-align: center;
    background-color: #fff;
}

.footer_start_list>li {
    line-height: 35px;
}

.megamenu_list>li {
    line-height: 28px;
}

.megamenu_list>li>a {
    color: #6B7A9C;
    font-weight: 400 !important;
}

.footer_start_list>li>a {
    color: #6B7A9C;
}

.footer_socials {
    margin-top: 30px;
    color: #9CAAC4;
}

.footer_socials>i {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 22px;
}

#logo_footer {
    width: 200px;
}

.text_normal {
    font-size: 14.5px;
}

.text_color_bolder {
    color: #112542;
    font-weight: 700;
}

.btn-default {
    background: #37637B !important;
    color: #fff !important;
}

.btn-caption {
    font-weight: 700;
}

/*
    SEARCH SECTION
*/

.chooser_wrapper {
    padding-top: 22px;
    padding-bottom: 22px;
    background: #FFFFFF;
    position: relative;
    padding-left: 28px;
    border: 1px solid #ECF1F8;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 23, 68, 0.09);
}

.label_small_widget {
    font-size: 12px;
    color: #6B7A9C;
    margin-bottom: 1px;
    cursor: pointer;
}

.label_small_widget_big{
    font-size: 12px;
    color: #6B7A9C;
    margin-bottom: 2px;
    cursor: pointer;
}

.label_small_widget_underline {
    font-size: 14px;
    color: #6B7A9C;
    cursor: pointer;
    text-decoration: underline; 
}

.text_packages{
    position: relative;
    top: -9px;
    right: 84px;
    
}

.pushright{
    float: right;
}

.label_small_widget {
    font-size: 12px;
    color: #6B7A9C;
    margin-bottom: 1px;
    font-weight: 600 !important;
}

.label_small_widget_light {
    font-size: 12px;
    color: #6B7A9C;
    margin-bottom: 1px;
    font-weight: 400 !important;
}

.label_small_widget_green {
    font-size: 14px;
    color: #2FAC75;
    font-weight: 700;
    margin-bottom: 1px;
    font-weight: light !important;
}

.widget_corner_left {
    background: #FFFFFF;
    border-top: 1px solid #E1E7F1;
    border-right: 0px dashed #E1E7F1;
    border-bottom: 1px dotted #E1E7F1;
    border-left: 1px solid #E1E7F1;
    border-radius: 8px 0px 0px 8px;
    padding: 13px 20px 13px 20px;
    display: flex;
}

.widget_corner_between {
    background: #FFFFFF;
    border-top: 1px solid #E1E7F1;
    border-right: 0px dashed #E1E7F1;
    border-bottom: 1px dotted #E1E7F1;
    border-left: 1px solid #E1E7F1;
    border-radius: 0px 0px 0px 0px;
    padding: 13px 17px 13px 17px;
    display: flex;
    position: relative;
    left: 0px;
}

.widget_corner_right {
    background: #FFFFFF;
    border-top: 1px solid #E1E7F1;
    border-right: 0px dashed #E1E7F1;
    border-bottom: 1px dotted #E1E7F1;
    border-left: 1px solid #E1E7F1;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    position: relative;
    left: 0px;
    width: max-content;
}

.widget_corner_content {
    margin-left: 25px;
}

.widget_corner_content_date {
    margin-left: 10px;
}

.widget_corner_icon>img {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    padding: 13px 0px 13px 0px;
}

.widget_corner_icon_search>img {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    padding: 25px 5px 25px 13px;
}

.chooser_select {
    background: #fff;
    border: 1px solid #fff;
    padding: 0px;
    position: relative;
    left: -6px;
    font-weight: 700;
    color: #45516D;
}

.chooser_select_nobackground_small {
    background: none;
    border: 1px solid #ECF1F8;
    padding: 0px;
    position: relative;
    font-size: 12px;
    color: #45516D;
}

.label_pagination {
    font-size: 12px;
    color: #45516D;
    font-weight: 400;
}

.chooser_select_date {
    background: #fff;
    border: 1px solid #fff;
    padding: 0px;
    position: relative;
    font-weight: 700;
    left: -2px;
    color: #45516D;
    width: 103px;
}

.chooser_search {
    background: #fff;
    border: 1px solid #fff;
    padding: 0px;
    left: -2px;
    position: relative;
    font-weight: 700;
    color: #45516D;
    width: 238px;
}

.widget_corner_content_search {
    width: 421px;
    display: flex
}

.widget_corner_inside {
    padding: 13px 17px 13px 13px;
}

.submit_search {
    background: #37637B;
    height: 100%;
    box-shadow: 0px 4px 8px rgba(55, 99, 123, 0.14);
    width: inherit;
    text-align: center;
    border-radius: 0px 8px 8px 0px;
}

.submit_search_text {
    vertical-align: middle;
    line-height: 75px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.submit_search_text:hover {
    background-color: #243e4c;
    border-radius: 0px 8px 8px 0px;
}

.pushto_right {
    float: right;
    padding-top: 4px;
}