/*assets*/
$main_font: Inter, sans-serif;
$label_small_color :  #6b7a9c;
$label_bold : #45516d;
$link_color : #112542;
$base_color : #ECF1F8;
$badge_green : #2FAC75;
$gray_color : #E2F5FF;
$button_color : #37637B;
$button_color_hover : #243e4c;

/* font size */
$main_font_size : 14.5px;

/* colors */
$color_white : #ffffff;
$color_black : #000000;
$color_placeholder: #9CAAC4;
$color_orange : #CB3627;

/*border*/
$main_border : 1px solid #E1E7F1;