   <div class="row">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <div class="card_content_wrapper" id="filter_diveresort">
                    <div class="row">
                        <div class="col-lg-9 col-md-9">
                                <div class="label_card_wrapper">
                                    <label class="label_card_24">Blue Corner Dive Resort
                                        <span class="fa fa-star checked_star star_list"></span>
                                        <span class="fa fa-star checked_star star_list"></span>
                                        <span class="fa fa-star checked_star star_list"></span>
                                        <span class="fa fa-star checked_star star_list"></span>

                                    </label>
                                    <div class="label_card_subheader">
                                        <span class="pre_icon">
                                                <img class="lazy" src="img/icon/pin.svg">
                                        </span>
                                        Jalan Raya, Jungutbatu, Nusa Lembongan Island, Bali 80771, Indonesia
                                    </div>
                                    <div class="divider_big"></div>
                                </div>
                                <div class="label_card_wrapper2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="card_lines"></div>
                    <div class="label_card_wrapper">
                        <div class="row">
                            <div class="col-md-12">
                                 <div class="card_container_alt divider_big">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="label_light">
                                                <span class="pre_icon">
                                                    <img class="lazy" src="img/icon/pin.svg">
                                                </span>
                                                Onsite
                                            </div>
                                            <div class="divider_small"></div>
                                                <div class="label_light">
                                                <span class="pre_icon">
                                                    <img class="lazy" src="img/icon/padi.svg">
                                                </span>
                                                Onsite
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="label_light">
                                                <span class="pre_icon">
                                                    <img class="lazy" src="img/icon/umbrella.svg">
                                                </span>
                                                Max 8 divers per guide
                                            </div>
                                            <div class="divider_small"></div>
                                                <div class="label_light">
                                                <span class="pre_icon">
                                                    <img class="lazy" src="img/icon/boat.svg">
                                                </span>
                                                6 Boats Available
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="label_light">
                                                <span class="pre_icon">
                                                    <img class="lazy" src="img/icon/trek.svg">
                                                </span>
                                                12 dive instructors
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="trip_child_1">
                            <div class="col-lg-12 col-md-12 table_spec_nopadd">
                                <table class="table">
                                    <tbody>
                                        <tr>    
                                            <th>Selected Package</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Total Price</th>
                                        </tr>
                                    </tbody>
                                    <tbody class="table_booking_head">
                                        <tr  class="table_booking_data">
                                            <td>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p>2 Guided shore dives - Seraya Bay</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <p>IDR 2.793.583</p>
                                                            <p>per night</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>1</td>
                                            <td>IDR 2.793.583</span></td>
                                        </tr>
                                        <tr  class="table_booking_data">
                                            <td>Tax</td>
                                            <td>10%</td>
                                            <td></td>
                                            <td>IDR <span class="price_tables">12.593.583</span></td>
                                        </tr>
                                        <tr style="background:#E2F5FF;">
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p>Total Room Price</p>
                                                        <p>for for 2 guided dives</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td>IDR <span class="price_tables" style="font-size:18px;">2.672.941</span></td>
                                        </tr>
                                    </tbody>
                                    </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="style_header">Personal Information</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="label_smaller_widget_light">Contact Name</div>
                                <div class="label_smaller_widget">John Doe</div>
                            </div>
                            <div class="col-md-4">
                                <div class="label_smaller_widget_light">Phone Number</div>
                                    <div class="label_smaller_widget">+62 877 1818 2424</div>
                            </div>
                                <div class="col-md-4">
                                <div class="label_smaller_widget_light">Email Address</div>
                                    <div class="label_smaller_widget">Email Address</div>
                            </div>
                        </div>
                        <div class="divider_big"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="style_header">Next Step</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="list_controller">
                                    <li>You will receive an email notification with booking details in PDF attached</li>
                                    <li>Booking confirmation may take up to 24 hours. Please do ont book your flights until your request is confirmed by the resort</li>
                                    <li>To secure your reservation you will have to proceed with an payment within 48 hours after the booking is confirmed</li>
                                <ul>
                            </div>
                        </div>
                        <div class="divider_big"></div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="label_light">I accept Indonesia Dive Direcotry’s Terms and Conditions</label>
                                </div>
                            </div>
                        </div>
                         <div class="row" style="margin-bottom:20px;">
                            <div class="col-md-12">
                                <button class="button_packages">Request to Book</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>