<div class="main_wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                    <div class="card_content_wrapper card_padding_big card_center" style="margin-top:70px;margin-bottom:70px;">
                            <img style="margin: 0 auto; width:200px;" src="img/resorts/submitted.png" class="lazy"/>
                            <h5 class="label_card_24" style="margin-top:50px;">Your booking is submitted</h5>
                            <p class="style_content">We’ve sent the booking details to:</p>
                            <div class="button_packages_alt_small">johndooeeee@gmail.com</div>
                            <p class="style_content divider_big">Booking confirmation may take up to 24 hours. Please do not book your flights until your request is confirmed by the resort</p>
                    </div>
            </div>
        </div>
    </div>
</div>