<div class="breadcrumb_wrappers">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <ul class="breadcrumbs">
                <li><a href="<?php echo base_url()?>">Home</a></li>
                <li><a href="<?php echo base_url('legitimate')?>">Resort</a></li>
                <li><a href="<?php echo base_url('legitimate')?>">Bali</a></li>
                <li>Blue Corner Dive Resort</li>
                <!-- -->
            </ul>
        </div>
    </div>
</div>
