 <div class="card_custom_top">
                            <div class="card-header-noborder card_custom_header_noborder" id="cabins">
                            <h5 class="mb-0 label_card">
                                <div class="btn btn-link btn_link_title_big collapsed" data-toggle="collapse" data-target="#collapseCabin" aria-expanded="true" aria-controls="collapseCabin">
                                     <div class="label_card_24">Cabins</div>
                                </div>
                                
                            </h5>
                            </div>
                            <div class="card_lines"></div>
                            <div id="collapseCabin" class="collapse show" aria-labelledby="cabins" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                          <h5 class="style_header">Double - Upper Deck</h5>
                                          <p class="text_content">
                                            The air conditioning cabins with en-suite bathrooms are sleek yet cozy, 
                                            a sanctuary to welcome you home after a long excursion undersea. 
                                            All cabins in lower deck have portholes and windows
                                          </p>
                                          <div class="row">
                                            <div class="col-md-4">
                                                <div class="label_smaller_widget_light">Size</div>
                                                <div class="label_smaller_widget">10 m<sup>2</sup></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="label_smaller_widget_light">Beds</div>
                                                 <div class="label_smaller_widget">1 Twin</div>
                                            </div>
                                             <div class="col-md-4">
                                                <div class="label_smaller_widget_light">Private Bathroom</div>
                                                 <div class="label_smaller_widget">Yes</div>
                                            </div>
                                          </div>
                                          <div class="divider_big"></div>
                                          <div class="row">
                                            <div class="col-md-4">
                                                <div class="label_smaller_widget_light">Max Occupancy</div>
                                                <div class="label_smaller_widget">2 Guests</div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="label_smaller_widget_light">Shareable</div>
                                                 <div class="label_smaller_widget">Yes</div>
                                            </div>
                                             <div class="col-md-4">
                                                <div class="label_smaller_widget_light">Air Conditioning</div>
                                                 <div class="label_smaller_widget">Yes</div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="demo hasActive">
                                                    <ul id="cabinGallery1" class="img">
                                                        <li data-src="img/liveboard_detail/cabin1.jpeg" data-thumb="img/liveboard_detail/cabin1.jpeg" >
                                                            <img src="img/liveboard_detail/cabin1.jpeg"  width="100%" />
                                                        </li>
                                                        <li data-src="img/liveboard_detail/cabin2.jpeg" data-thumb="img/liveboard_detail/cabin2.jpeg"  >
                                                            <img src="img/liveboard_detail/cabin2.jpeg"  width="100%" />
                                                        </li>
                                                        <li data-src="img/liveboard_detail/cabin3.jpeg" data-thumb="img/liveboard_detail/cabin3.jpeg"  >
                                                            <img src="img/liveboard_detail/cabin3.jpeg"  width="100%" />
                                                        </li>
                                                        <li data-src="img/liveboard_detail/cabin4.jpeg" data-thumb="img/liveboard_detail/cabin4.jpeg" >
                                                            <img src="img/liveboard_detail/cabin4.jpeg"  width="100%" />
                                                        </li>
                                                    </ul>
                                                    <div class="divider_big"></div>
                                                    <button class="button_packages_alt">Show Cabin Info</button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- row 2 -->
                                    <div class="divider_big">
                                     <div class="card_lines"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                          <h5 class="style_header">Double - Upper Deck</h5>
                                          <p class="text_content">
                                            The air conditioning cabins with en-suite bathrooms are sleek yet cozy, 
                                            a sanctuary to welcome you home after a long excursion undersea. 
                                            All cabins in lower deck have portholes and windows
                                          </p>
                                          <div class="row">
                                            <div class="col-md-4">
                                                <div class="label_smaller_widget_light">Size</div>
                                                <div class="label_smaller_widget">10 m<sup>2</sup></div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="label_smaller_widget_light">Beds</div>
                                                 <div class="label_smaller_widget">1 Twin</div>
                                            </div>
                                             <div class="col-md-4">
                                                <div class="label_smaller_widget_light">Private Bathroom</div>
                                                 <div class="label_smaller_widget">Yes</div>
                                            </div>
                                          </div>
                                          <div class="divider_big"></div>
                                          <div class="row">
                                            <div class="col-md-4">
                                                <div class="label_smaller_widget_light">Max Occupancy</div>
                                                <div class="label_smaller_widget">2 Guests</div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="label_smaller_widget_light">Shareable</div>
                                                 <div class="label_smaller_widget">Yes</div>
                                            </div>
                                             <div class="col-md-4">
                                                <div class="label_smaller_widget_light">Air Conditioning</div>
                                                 <div class="label_smaller_widget">Yes</div>
                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="demo2 hasActive">
                                                    <ul id="cabinGallery2" class="img">
                                                        <li data-src="img/liveboard_detail/cabin1.jpeg" data-thumb="img/liveboard_detail/cabin1.jpeg" >
                                                            <img src="img/liveboard_detail/cabin1.jpeg"  width="100%" />
                                                        </li>
                                                        <li data-src="img/liveboard_detail/cabin2.jpeg" data-thumb="img/liveboard_detail/cabin2.jpeg"  >
                                                            <img src="img/liveboard_detail/cabin2.jpeg"  width="100%" />
                                                        </li>
                                                        <li data-src="img/liveboard_detail/cabin3.jpeg" data-thumb="img/liveboard_detail/cabin3.jpeg"  >
                                                            <img src="img/liveboard_detail/cabin3.jpeg"  width="100%" />
                                                        </li>
                                                        <li data-src="img/liveboard_detail/cabin4.jpeg" data-thumb="img/liveboard_detail/cabin4.jpeg" >
                                                            <img src="img/liveboard_detail/cabin4.jpeg"  width="100%" />
                                                        </li>
                                                    </ul>
                                                    <div class="divider_big"></div>
                                                    <button class="button_packages_alt">Show Cabin Info</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>