<div class="card_content_wrapper" id="filter_diveresort">
                    <div class="row">
                        <div class="col-lg-9 col-md-9">
                                <div class="label_card_wrapper">
                                    <label class="label_card_24">Dates and prices
                                    </label>
                                </div>
                        </div>
                    </div>
                    <div class="label_card_wrapper">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="date" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="date" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                            <option value="1">1 Guest</option>
                                            <option value="1">2 Guest</option>
                                            <option value="1">3 Guest</option>
                                            <option value="1">4 Guest</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <button class="button_packages">Check Availability</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="card_product_wrapper product_list_resort" id="resort_1">
                                            <div class="row">
                                                <div class="col-lg-2 col-md-2 col-xs-2 vertical_align">
                                                    <div class="jumbotext">4</div>
                                                    <div class="label_light">September</div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-4 product_separator">
                                                    <div class="wrapper_product_info">
                                                        <label class="label_bold_alt" >Raja Ampat - Misool & Central (Sorong - Sorong)</label>
                                                            <div class="review_wrapper">
                                                                <label class="label_light">11 Night &nbsp;
                                                                </label>
                                                            </div>
                                                            
                                                        </div>  
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-3 product_separator">
                                                    <div class="wrapper_product_info">
                                                        <div class="label_light">Starts from &nbsp; </div>
                                                        <div class="label_prices">IDR 12.593.583</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-3 product_separator_noborder">
                                                    <button class="button_packages">Book now</button>
                                                    <div class="divider_small"></div>
                                                    <button class="button_packages_alt">Share</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- card inside 2 -->
                                  <div class="row">
                                    <div class="col-md-12">
                                        <div class="card_product_wrapper product_list_resort" id="resort_1">
                                            <div class="row">
                                                <div class="col-lg-2 col-md-2 col-xs-2 vertical_align">
                                                    <div class="jumbotext">16</div>
                                                    <div class="label_light">September</div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-4 product_separator">
                                                    <div class="wrapper_product_info">
                                                        <label class="label_bold_alt" >Raja Ampat - Misool & Central (Sorong - Sorong)</label>
                                                            <div class="review_wrapper">
                                                                <label class="label_light">11 Night &nbsp;
                                                                </label>
                                                            </div>
                                                            
                                                        </div>  
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-3 product_separator">
                                                    <div class="wrapper_product_info">
                                                        <div class="label_light">Starts from &nbsp; </div>
                                                        <div class="label_prices">IDR 12.593.583</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-3 product_separator_noborder">
                                                    <button class="button_packages">Book now</button>
                                                    <div class="divider_small"></div>
                                                    <button class="button_packages_alt">Share</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- card inside 3 -->
                                  <div class="row">
                                    <div class="col-md-12">
                                        <div class="card_product_wrapper product_list_resort" id="resort_1">
                                            <div class="row">
                                                <div class="col-lg-2 col-md-2 col-xs-2 vertical_align">
                                                    <div class="jumbotext">28</div>
                                                    <div class="label_light">September</div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 col-xs-4 product_separator">
                                                    <div class="wrapper_product_info">
                                                        <label class="label_bold_alt" >Raja Ampat - Misool & Central (Sorong - Sorong)</label>
                                                            <div class="review_wrapper">
                                                                <label class="label_light">11 Night &nbsp;
                                                                </label>
                                                            </div>
                                                            
                                                        </div>  
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-3 product_separator">
                                                    <div class="wrapper_product_info">
                                                        <div class="label_light">Starts from &nbsp; </div>
                                                        <div class="label_prices">IDR 12.593.583</div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-3 product_separator_noborder">
                                                    <button class="button_packages">Book now</button>
                                                    <div class="divider_small"></div>
                                                    <button class="button_packages_alt">Share</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>