<div class="card_content_wrapper" id="filter_diveresort">
                    <div class="row">
                        <div class="col-lg-9 col-md-9">
                                <div class="label_card_wrapper">
                                    <label class="label_card_24">Dates and prices
                                    </label>
                                </div>
                        </div>
                    </div>
                    <div class="label_card_wrapper">
                                <div class="row">
                                    <div class="col-lg-3">
                                        <input type="date" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                    </div>
                                    <div class="col-lg-3">
                                        <input type="date" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-control">
                                            <option value="1">1 Guest</option>
                                            <option value="1">2 Guest</option>
                                            <option value="1">3 Guest</option>
                                            <option value="1">4 Guest</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3">
                                        <button class="button_packages">Check Availability</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="nocard_content_wrapper product_list_resort" id="resort_1">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-xs-4">
                                                        <div class="demox1 hasActive">
                                                                <ul id="cabinGallery3" class="img">
                                                                    <li data-src="img/liveboard_detail/cabin1.jpeg" data-thumb="img/liveboard_detail/cabin1.jpeg" >
                                                                        <img src="img/liveboard_detail/cabin1.jpeg"  width="100%" />
                                                                    </li>
                                                                    <li data-src="img/liveboard_detail/cabin2.jpeg" data-thumb="img/liveboard_detail/cabin2.jpeg"  >
                                                                        <img src="img/liveboard_detail/cabin2.jpeg"  width="100%" />
                                                                    </li>
                                                                    <li data-src="img/liveboard_detail/cabin3.jpeg" data-thumb="img/liveboard_detail/cabin3.jpeg"  >
                                                                        <img src="img/liveboard_detail/cabin3.jpeg"  width="100%" />
                                                                    </li>
                                                                    <li data-src="img/liveboard_detail/cabin4.jpeg" data-thumb="img/liveboard_detail/cabin4.jpeg" >
                                                                        <img src="img/liveboard_detail/cabin4.jpeg"  width="100%" />
                                                                    </li>
                                                                </ul>
                                                                <div class="divider_big"></div>
                                                        </div>
                                                        <div class="label_light">
                                                            <span class="pre_icon">
                                                                <img src="img/icon/resize.svg">
                                                            </span>
                                                            110.0 sqm
                                                        </div>
                                                        <div class="divider_small"></div>
                                                        <div class="label_light">
                                                            <span class="pre_icon">
                                                                <img src="img/icon/bed.svg">
                                                            </span>
                                                            1 King Bed
                                                        </div>
                                                        <div class="divider_small"></div>
                                                        <div class="label_light">
                                                            <span class="pre_icon">
                                                                <img src="img/icon/hopme.svg">
                                                            </span>
                                                            4 Guest
                                                        </div>
                                                         <div class="divider_big"></div>
                                                        <button class="button_packages_outline">Show Room Info</button>
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-xs-5 ">
                                                    <div class="wrapper_product_info">
                                                        <div class="card_content_wrapper_dark" id="filter_liveboard">
                                                            <div class="label_card_wrapper">
                                                                <label class="style_header">Meal Plan</label>
                                                            </div>
                                                            <div class="label_card_wrapper2">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6">
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" name="exampleRadiosx" type="radio" value="" id="defaultCheckx1" checked>
                                                                            <label class="form-check-label" for="defaultCheck1">
                                                                                <span class="label_light">Bed & Breakfast</span>
                                                                            </label>
                                                                            <label>
                                                                                <span class="label_light">+ 0 per person</span>
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" name="exampleRadiosx" type="radio" value="" id="defaultCheckx1" checked>
                                                                            <label class="form-check-label" for="defaultCheck1">
                                                                                <span class="label_light">Bed & Breakfast</span>
                                                                            </label>
                                                                            <label>
                                                                                <span class="label_light">+ 0 per person</span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6">
                                                                       <div class="form-check">
                                                                            <input class="form-check-input" name="exampleRadiosx" type="radio" value="" id="defaultCheckx1" checked>
                                                                            <label class="form-check-label" for="defaultCheck1">
                                                                                <span class="label_light">Half Board</span>
                                                                            </label>
                                                                            <label>
                                                                                <span class="label_light">+IDR 3.41M per person</span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- row 2-->
                                                    <div class="wrapper_product_info">
                                                        <div class="card_content_wrapper" id="filter_liveboard">
                                                            <div class="label_card_wrapper">
                                                                <label class="style_header">Diver package x 1</label>
                                                            </div>
                                                            <div class="card_lines">
                                                            </div>
                                                            <div class="label_card_wrapper2">
                                                                <div class="row">
                                                                    <ul class="list_controller">
                                                                        <li>
                                                                            12 boat dives per diver
                                                                        </li>
                                                                        <li>
                                                                            Meals as per chosen meal plan
                                                                        </li>
                                                                        <li>
                                                                            Free DAN dive accident insurance
                                                                        </li>
                                                                        <li>
                                                                            Free WiFi (public areas)
                                                                        </li>
                                                                        <li>
                                                                            Welcome drink
                                                                        </li>
                                                                        <li>
                                                                            Complimentary toiletries 
                                                                        </li>
                                                                    <ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>    
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-3 vertical_align">
                                                    <div class="wrapper_product_info">
                                                        <div class="label_prices">IDR 12.593.583</div>
                                                        <div class="label_light">Avg. per person for 7 nights</div>
                                                        <div class="divider_big"></div>
                                                        <button class="button_packages">Select Package</button>
                                                        <div class="divider_small"></div>
                                                        <button class="button_packages_alt">See package details</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card_lines"></div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="nocard_content_wrapper product_list_resort" id="resort_1">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-xs-4">
                                                        <div class="demox2 hasActive">
                                                                <ul id="cabinGallery4" class="img">
                                                                    <li data-src="img/liveboard_detail/cabin1.jpeg" data-thumb="img/liveboard_detail/cabin1.jpeg" >
                                                                        <img src="img/liveboard_detail/cabin1.jpeg"  width="100%" />
                                                                    </li>
                                                                    <li data-src="img/liveboard_detail/cabin2.jpeg" data-thumb="img/liveboard_detail/cabin2.jpeg"  >
                                                                        <img src="img/liveboard_detail/cabin2.jpeg"  width="100%" />
                                                                    </li>
                                                                    <li data-src="img/liveboard_detail/cabin3.jpeg" data-thumb="img/liveboard_detail/cabin3.jpeg"  >
                                                                        <img src="img/liveboard_detail/cabin3.jpeg"  width="100%" />
                                                                    </li>
                                                                    <li data-src="img/liveboard_detail/cabin4.jpeg" data-thumb="img/liveboard_detail/cabin4.jpeg" >
                                                                        <img src="img/liveboard_detail/cabin4.jpeg"  width="100%" />
                                                                    </li>
                                                                </ul>
                                                                <div class="divider_big"></div>
                                                        </div>
                                                        <div class="label_light">
                                                            <span class="pre_icon">
                                                                <img src="img/icon/resize.svg">
                                                            </span>
                                                            110.0 sqm
                                                        </div>
                                                        <div class="divider_small"></div>
                                                        <div class="label_light">
                                                            <span class="pre_icon">
                                                                <img src="img/icon/bed.svg">
                                                            </span>
                                                            1 King Bed
                                                        </div>
                                                        <div class="divider_small"></div>
                                                        <div class="label_light">
                                                            <span class="pre_icon">
                                                                <img src="img/icon/hopme.svg">
                                                            </span>
                                                            4 Guest
                                                        </div>
                                                         <div class="divider_big"></div>
                                                        <button class="button_packages_outline">Show Room Info</button>
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-xs-5 ">
                                                    <div class="wrapper_product_info">
                                                        <div class="card_content_wrapper_dark" id="filter_liveboard">
                                                            <div class="label_card_wrapper">
                                                                <label class="style_header">Meal Plan</label>
                                                            </div>
                                                            <div class="label_card_wrapper2">
                                                                <div class="row">
                                                                    <div class="col-lg-6 col-md-6">
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" name="exampleRadiosx" type="radio" value="" id="defaultCheckx1" checked>
                                                                            <label class="form-check-label" for="defaultCheck1">
                                                                                <span class="label_light">Bed & Breakfast</span>
                                                                            </label>
                                                                            <label>
                                                                                <span class="label_light">+ 0 per person</span>
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" name="exampleRadiosx" type="radio" value="" id="defaultCheckx1" checked>
                                                                            <label class="form-check-label" for="defaultCheck1">
                                                                                <span class="label_light">Bed & Breakfast</span>
                                                                            </label>
                                                                            <label>
                                                                                <span class="label_light">+ 0 per person</span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6">
                                                                       <div class="form-check">
                                                                            <input class="form-check-input" name="exampleRadiosx" type="radio" value="" id="defaultCheckx1" checked>
                                                                            <label class="form-check-label" for="defaultCheck1">
                                                                                <span class="label_light">Half Board</span>
                                                                            </label>
                                                                            <label>
                                                                                <span class="label_light">+IDR 3.41M per person</span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- row 2-->
                                                    <div class="wrapper_product_info">
                                                        <div class="card_content_wrapper" id="filter_liveboard">
                                                            <div class="label_card_wrapper">
                                                                <label class="style_header">Diver package x 1</label>
                                                            </div>
                                                            <div class="card_lines">
                                                            </div>
                                                            <div class="label_card_wrapper2">
                                                                <div class="row">
                                                                    <ul class="list_controller">
                                                                        <li>
                                                                            12 boat dives per diver
                                                                        </li>
                                                                        <li>
                                                                            Meals as per chosen meal plan
                                                                        </li>
                                                                        <li>
                                                                            Free DAN dive accident insurance
                                                                        </li>
                                                                        <li>
                                                                            Free WiFi (public areas)
                                                                        </li>
                                                                        <li>
                                                                            Welcome drink
                                                                        </li>
                                                                        <li>
                                                                            Complimentary toiletries 
                                                                        </li>
                                                                    <ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>    
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-xs-3 vertical_align">
                                                    <div class="wrapper_product_info">
                                                        <div class="label_prices">IDR 12.593.583</div>
                                                        <div class="label_light">Avg. per person for 7 nights</div>
                                                        <div class="divider_big"></div>
                                                        <button class="button_packages">Select Package</button>
                                                        <div class="divider_small"></div>
                                                        <button class="button_packages_alt">See package details</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>