<div class="card_custom_top">
    <div class="card-header-noborder card_custom_header_noborder" id="deck_plans">
    <h5 class="mb-0 label_card">
        <div class="btn btn-link btn_link_title_big collapsed" data-toggle="collapse" data-target="#collapseDeck" aria-expanded="true" aria-controls="collapseDeck">
                <div class="label_card_24">Deck Plans</div>
        </div>
        <!-- <div class="fa fa-angle-down rotate-icon gorights"></div> -->
    </h5>
    </div>
    <div id="collapseDeck" class="collapse show" aria-labelledby="deck_plans" data-parent="#accordion">
        {# content goes here #}
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                   <div class="divider_big"></div>
                    <h5 class="style_header">Dive List</h5>
                     <div class="demo hasActive">
                            <ul id="boatsGallery" class="img">
                                <li data-src="img/liveboard_detail/boat.png" data-thumb="img/liveboard_detail/boat.png" >
                                    <img src="img/liveboard_detail/boat.png"  width="100%" />
                                </li>
                                <li data-src="img/liveboard_detail/boat.png" data-thumb="img/liveboard_detail/boat.png"  >
                                    <img src="img/liveboard_detail/boat.png"  width="100%" />
                                </li>
                                <li data-src="img/liveboard_detail/boat.png" data-thumb="img/liveboard_detail/boat.png"  >
                                    <img src="img/liveboard_detail/boat.png"  width="100%" />
                                </li>
                                <li data-src="img/liveboard_detail/boat.png" data-thumb="img/liveboard_detail/boat.png" >
                                    <img src="img/liveboard_detail/boat.png"  width="100%" />
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    