<section class="main_wrapper" style="min-height:600px;">
    <div class="container">
        {% include "../components/breadcrumb.twig" %}
        <div class="margin_card"></div>
        <!-- Diving Services -->
        {% include "../components/gallery_day_trip.twig" %}
        <div class="row">
            <div class="col-lg-9 col-md-9 col-xs-9">
                <div class="card_content_wrapper" id="filter_diveresort">
                    <div class="row">
                        <div class="col-lg-9 col-md-9">
                                <div class="label_card_wrapper">
                                    <label class="label_card_24">Dive Bali: Aqua Marine Dive Center
                                    </label>
                                    <div class="label_card_subheader">
                                        <span class="pre_icon">
                                                <img class="lazy" src="img/icon/pin.svg">
                                        </span>
                                        Jalan Raya, Jungutbatu, Nusa Lembongan Island, Bali 80771, Indonesia
                                    </div>
                                    <div class="divider_big"></div>
                                    <div class="style_header text_underline">Show on map</div>
                                    <div class="card_container_alt card_container_width_big divider_big">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="label_light">
                                                    <span class="pre_icon">
                                                        <img class="lazy" src="img/icon/pin.svg">
                                                    </span>
                                                    Onsite
                                                </div>
                                                <div class="divider_small"></div>
                                                    <div class="label_light">
                                                    <span class="pre_icon">
                                                        <img class="lazy" src="img/icon/padi.svg">
                                                    </span>
                                                    Onsite
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="label_light">
                                                    <span class="pre_icon">
                                                        <img class="lazy" src="img/icon/umbrella.svg">
                                                    </span>
                                                    Max 8 divers per guide
                                                </div>
                                                <div class="divider_small"></div>
                                                    <div class="label_light">
                                                    <span class="pre_icon">
                                                        <img class="lazy" src="img/icon/boat.svg">
                                                    </span>
                                                    6 Boats Available
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="label_light">
                                                    <span class="pre_icon">
                                                        <img class="lazy" src="img/icon/trek.svg">
                                                    </span>
                                                    12 dive instructors
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="label_card_wrapper2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="card_lines"></div>
                    <div class="label_card_wrapper">
                        <h5 class="style_header">Resort Description</h5>
                        <p class="style_content">
                            Blue Corner Dive Resort is a beachfront eco-resort on Nusa Lembongan, 
                            offering easy access to giant mantas and mola-mola (oceanic sunfish). 
                            Guests staying at this friendly dive resort have access to a long, private beach 
                            and a selection<span class="dots">...</span><span class="mores"> of water sports like kayaking, paddle boarding and snorkelling. 
                            The resort boasts a restaurant and beach-style bar serving cocktails and fresh fruit juices. 
                            The team host weekly BBQ nights on a Friday
                        </p>
                        <p class="label_reset label_light readmore-icon"  onclick="window.readMore()">Read more <i class="fa fa-angle-down"></i> </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                <div class="card_content_wrapper" id="filter_diveresort">
                    <div class="label_card_wrapper">
                        <label class="label_card">Book your trip</label>
                    </div>
                    <div class="card_lines">
                    </div>
                    <div class="label_card_wrapper2">
                        <div class="row">
                            <div class="col-lg-12 col-md-3 col-xs-12">
                                <div class="label_card_subheader">Price starts from</div>
                                <div class="label_prices">IDR<span class="label_prices_big">12.593.583</span></div>
                                <div class="divider_small"></div>
                                <button class="button_packages">Select Date & Package</button>
                                <div class="divider_big"></div>
                                <button class="button_packages_alt">Share</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card_content_wrapper_alt margin_card" id="filter_diveresort">
                    <div class="label_card_wrapper">
                        <div class="pushto_right">
                            <img alt="contact" class="lazy" src="img/phone.png">
                        </div>
                        <div class="label_card_subheader">Look for another options</div>
                        <label class="label_card">Contact Us</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider-->
        <div class="margin_card"></div>
         <div class="row">
            <div class="col-lg-9 col-md-9 col-xs-9">
                        <div class="margin_card"></div>
                        <!-- Diving Services -->
                        {% include "../components/dates_price_day_trip.twig" %}
                        <div class="margin_card"></div>
                        <!-- Maps -->
                        {% include "../components/diving_spots.twig" %}
                        <div class="margin_card"></div>
                        <!-- Diving Services -->
                        {% include "../components/list_two_column.twig" %}
                        <div class="margin_card"></div>
                        <!-- Boat amenities -->
                        {% include "../components/how_to_resort.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>