<section class="main_wrapper" style="min-height:600px;">
    <div class="container">
        {% include "../components/breadcrumb.twig" %}
        <div class="margin_card"></div>
        <!-- Diving Services -->
        {% include "../components/gallery_resort.twig" %}
        <div class="row">
            <div class="col-lg-9 col-md-9 col-xs-9">
                <div class="card_content_wrapper" id="filter_diveresort">
                    <div class="row">
                        <div class="col-lg-9 col-md-9">
                                <div class="label_card_wrapper">
                                    <label class="label_card_24">Blue Corner Dive Resort
                                        <span class="fa fa-star checked_star star_list"></span>
                                        <span class="fa fa-star checked_star star_list"></span>
                                        <span class="fa fa-star checked_star star_list"></span>
                                        <span class="fa fa-star checked_star star_list"></span>

                                    </label>
                                    <div class="label_card_subheader">
                                        <span class="pre_icon">
                                                <img src="img/icon/pin.svg">
                                        </span>
                                        Jalan Raya, Jungutbatu, Nusa Lembongan Island, Bali 80771, Indonesia
                                    </div>
                                    <div class="divider_big"></div>
                                    <div class="style_header text_underline">Show on map</div>
                                </div>
                                <div class="label_card_wrapper2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="space_inside_product2">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-xs-4 scores_container">
                                        <div class="scores">4,2</div>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-xs-8 reviews_result">
                                        <label class="label_small_widget_green">Excellent</label>
                                        <p class="label_light">From 412 Review</p>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="card_lines"></div>
                    <div class="label_card_wrapper">
                        <h5 class="style_header">Resort Description</h5>
                        <p class="style_content">
                            Blue Corner Dive Resort is a beachfront eco-resort on Nusa Lembongan, 
                            offering easy access to giant mantas and mola-mola (oceanic sunfish). 
                            Guests staying at this friendly dive resort have access to a long, private beach 
                            and a selection of water sports<span class="dots">...</span><span class="mores"> like kayaking, paddle boarding and snorkelling. 
                            The resort boasts a restaurant and beach-style bar serving cocktails and fresh fruit juices. 
                            The team host weekly BBQ nights on a Friday
                        </p>
                        <p class="label_reset label_light readmore-icon"  onclick="window.readMore()">Read more <i class="fa fa-angle-down"></i> </p>
                        <h5 class="style_header">Package Highlights</h5>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-xs-1">
                                <img src="img/check2.svg"/>
                            </div>
                            <div class="col-lg-11 col-md-11 col-xs-12">
                                <p class="text_content left_30">
                                Relaxed, professional dive resort offering beachside bungalows
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-xs-1">
                                <img src="img/check2.svg"/>
                            </div>
                            <div class="col-lg-11 col-md-11 col-xs-12">
                                <p class="text_content left_30">
                                    Tune up your dive skills or simply relax in the salt water pool, made from local stone
                                </p>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-lg-1 col-md-1 col-xs-1">
                                <img src="img/check2.svg"/>
                            </div>
                            <div class="col-lg-11 col-md-11 col-xs-12">
                                <p class="text_content left_30">
                                    Pull up a bean bag and admire the orange, pink and purple hues of the sunset
                                </p>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-lg-1 col-md-1 col-xs-1">
                                <img src="img/check2.svg"/>
                            </div>
                            <div class="col-lg-11 col-md-11 col-xs-12">
                                <p class="text_content left_30">
                                    Grab a freshly-squeezed juice or tropical cocktail from the beach bar
                                </p>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-lg-1 col-md-1 col-xs-1">
                                <img src="img/check2.svg"/>
                            </div>
                            <div class="col-lg-11 col-md-11 col-xs-12">
                                <p class="text_content left_30">
                                    Dive straight from the beach - maximum convenience and chill time
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-3">
                <div class="card_content_wrapper" id="filter_diveresort">
                    <div class="label_card_wrapper">
                        <label class="label_card">Book your trip</label>
                    </div>
                    <div class="card_lines">
                    </div>
                    <div class="label_card_wrapper2">
                        <div class="row">
                            <div class="col-lg-12 col-md-3 col-xs-12">
                                <div class="label_card_subheader">Price starts from</div>
                                <div class="label_prices">IDR<span class="label_prices_big">12.593.583</span></div>
                                <div class="divider_small"></div>
                                <button class="button_packages">Select Date & Package</button>
                                <div class="divider_big"></div>
                                <button class="button_packages_alt">Share</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card_content_wrapper_alt margin_card" id="filter_diveresort">
                    <div class="label_card_wrapper">
                        <div class="pushto_right">
                            <img alt="contact" src="img/phone.png">
                        </div>
                        <div class="label_card_subheader">Look for another options</div>
                        <label class="label_card">Contact Us</label>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider-->
        <div class="margin_card"></div>
         <div class="row">
            <div class="col-lg-9 col-md-9 col-xs-9">
                        <div class="margin_card"></div>
                        {% include "../components/dates_price_liveboard.twig" %}
                        <div class="margin_card"></div>
                        {% include "../components/diving_spots.twig" %}
                        <div class="margin_card"></div>
                        {% include "../components/room_information.twig" %}
                        <div class="margin_card"></div>
                        {% include "../components/list_three_column_resort.twig" %}
                        <div class="margin_card"></div>
                        {% include "../components/how_to_resort.twig" %}
                        <div class="margin_card"></div>
                        {% include "../components/list_mix_column_resort.twig" %}
                        <div class="margin_card"></div>
                        {% include "../components/review.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>