<div class="card_custom_top">
    <div class="card-header-noborder card_custom_header_noborder" id="diving_spots">
    <h5 class="mb-0 label_card">
        <div class="btn btn-link btn_link_title_big collapsed" data-toggle="collapse" data-target="#collapseSpots" aria-expanded="false" aria-controls="collapseSpots">
                <div class="label_card_24">Diving Spots</div>
        </div>
        <!-- <div class="fa fa-angle-down rotate-icon gorights"></div> -->
    </h5>
    </div>
    <div id="collapseSpots" class="collapse show" aria-labelledby="diving_spots" data-parent="#accordion">
        {# content goes here #}
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                   <div id='map' style='width: 100%; height: 300px; border-radius:8px;'></div>
                   <div class="divider_big"></div>
                    <h5 class="style_header">Dive List</h5>
                     <div class="demo hasActive">
                            <ul id="imageGallery" class="img">
                                <li data-src="img/liveboard_detail/1.jpeg">
                                    <img src="img/liveboard_detail/1.jpeg"  width="100%" />
                                </li>
                                <li data-src="img/liveboard_detail/2.jpeg">
                                    <img src="img/liveboard_detail/2.jpeg"  width="100%" />
                                </li>
                                <li data-src="img/liveboard_detail/1.jpeg">
                                    <img src="img/liveboard_detail/1.jpeg"  width="100%" />
                                </li>
                                <li data-src="img/liveboard_detail/2.jpeg">
                                    <img src="img/liveboard_detail/2.jpeg"  width="100%" />
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    