
<section class="chooser_wrapper_sm">
    <div class="container">
        <div class="row">
            <div class="widget_corner_right widget_noborder" style="width:390px;">
                <div class="widget_corner_content_search widget_noborder">
                    <div class="widget_corner_icon_search">
                        <img class="lazy" src="img/search.svg">
                    </div>
                    <div class="widget_corner_inside">
                        <label class="label_small_widget">Keyword (Optional)</label>
                        <div>
                            <input type="text" class="chooser_search" placeholder="Shop Name, Location, Course, etc">
                        </div>
                    </div>
                </div>
            </div>
            <div class="widget_corner_between widget_noborder">
                <div class="widget_corner_icon">
                    <img class="lazy" src="img/widget2.svg">
                </div>
                <div class="widget_corner_content">
                    <label class="label_small_widget">Dive Region</label>
                    <div>
                        <select class="chooser_select">
                            <option>Any Region</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="widget_corner_left widget_noborder">
                <div class="widget_corner_icon">
                    <img class="lazy" src="img/widget1.svg">
                </div>
                <div class="widget_corner_content">
                    <label class="label_small_widget">Certificate Type</label>
                    <div>
                        <select class="chooser_select" id="lookfor">
                            <option value="resort">All Type</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="widget_corner_left widget_noborder">
                <div class="widget_corner_icon">
                    <img class="lazy" src="img/widget1.svg">
                </div>
                <div class="widget_corner_content">
                    <label class="label_small_widget">Available Course</label>
                    <div>
                        <select class="chooser_select" id="lookfor">
                            <option value="resort">All Course</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="widget_corner_between widget_noborder">
                <div class="widget_corner_content_date">
                    <div>
                        <input type="submit" value="Search" class="button_packages" style="width:120px;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>