<div class="footer_start">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-12">
                <a class="navbar-brand" href="#"><img id="logo_footer" src="img/logo.svg"></a>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2">
                <p class="text_color_bolder text_normal">Company</h5>
                <ul class="list-unstyled text-small footer_start_list">
                    <li><a class="" href="#">About Us</a></li>
                    <li><a class="" href="#">Service Guarantee</a></li>
                    <li><a class="" href="#">News</a></li>
                    <li><a class="" href="#">Term of Service</a></li>
                    <li><a class="" href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2">
                <p class="text_color_bolder text_normal">Dive Directory</p>
                <ul class="list-unstyled text-small footer_start_list">
                    <li><a class="" href="#">Why book with us</a></li>
                    <li><a class="" href="#">Best price guarantee</a></li>
                    <li><a class="" href="#">Charters</a></li>
                    <li><a class="" href="#">FAQ</a></li>
                    <li><a class="" href="#">Affiliate program</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-xs-2">
                <p class="text_color_bolder text_normal">Top Dive Region</p>
                <ul class="list-unstyled text-small footer_start_list">
                    <li><a class="" href="#">Papua</a></li>
                    <li><a class="" href="#">Bali</a></li>
                    <li><a class="" href="#">Lombok</a></li>
                    <li><a class="" href="#">Sulawesi</a></li>
                    <li><a class="" href="#">Maluku</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-12">
                <p class="text_color_bolder text_normal">News Letter</p>
                <p class="text_color">Sign up to get the latest news and updates on Indonesia Dive Directory.</p>
                <button class="btn btn-default btn-block"><span class="btn-caption">Sign Up<span></button>
                <div class="d-flex justify-content-center footer_socials">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-instagram"></i>
                    <i class="fa fa-youtube"></i>
                    <i class="fa fa-facebook"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="footer_last_text text_color">Copyright © 2011-2018 by Indonesia Dive Directory. All rights reserved.</div>
</footer>