<div class="row">
    <div class="col-md-10 gallery_banner">
        <a href="img/resort_detail/gallery_1.jpeg"><img class="image_gallery" src="img/resort_detail/gallery_1.jpeg"><a/>
        <div class="divider_big"></div>
        <div class="divider_big"></div>
    </div>
    <div class="col-md-2 gallery_list">
        <a href="img/resort_detail/gallery_1.jpeg"><img class="image_gallery_small divider_big_bottom" src="img/resort_detail/gallery_1.jpeg"></a>
        <a href="img/resort_detail/gallery_2.jpeg"><img class="image_gallery_small divider_big" src="img/resort_detail/gallery_2.jpeg"></a>
        <a href="img/resort_detail/gallery_3.jpeg"><img class="image_gallery_small divider_big" src="img/resort_detail/gallery_3.jpeg"></a>
        <a href="img/resort_detail/gallery_3.jpeg"><img class="image_gallery_small divider_big" src="img/resort_detail/gallery_3.jpeg"></a>
        <a href="img/resort_detail/gallery_1.jpeg">
            <div class="overlay_after">
                <div class="text_overlay">11+</div>
            </div>
        </a>
    </div>
</div>  