<section class="navbar_wrapper">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light navbar_custom">
        <a class="navbar-brand" href="#"><img id="logo" src="img/logo.svg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Discover <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item dropdown megamenu active"><a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle font-weight-bold ">Discover</a>
                <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                <div class="container megasize">
                    <div class="row bg-white rounded-0 m-0 shadow-sm megamenu_container">
                        <div class="nav nav-tabs nav_tabs_custom" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active navbar_megamenu" id="nav-home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="nav-home" aria-selected="true">Resorts</a>
                            <a class="nav-item nav-link navbar_megamenu" id="nav-profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="nav-profile" aria-selected="false">Live Board</a>
                        </div>
                    </div>
                    <div class="row bg-white rounded-0 m-0 shadow-sm megamenu_container2">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 megasection_size">
                                            <div class="megamenu_section">
                                                <p class="text_color_bolder text_normal">Sumatera</p>
                                                <ul class="list-unstyled text-small megamenu_list">
                                                    <li><a class="" href="#">Aceh</a></li>
                                                    <li><a class="" href="#">Padang</a></li>
                                                    <li><a class="" href="#">Krakatoa</a></li>
                                                </ul>
                                            </div>
                                            <div class="megamenu_section">
                                                <p class="text_color_bolder text_normal">Java</p>
                                                <ul class="list-unstyled text-small megamenu_list">
                                                    <li><a class="" href="#">Thousand Island</a></li>
                                                    <li><a class="" href="#">Pelabuhan Ratu</a></li>
                                                    <li><a class="" href="#">Karimun Jaya</a></li>
                                                    <li><a class="" href="#">Pasir Putih</a></li>
                                                </ul>
                                            </div>
                                            <div class="megamenu_section">
                                                <p class="text_color_bolder text_normal">Bali & Nusa Tenggara</p>
                                                <ul class="list-unstyled text-small megamenu_list">
                                                    <li><a class="" href="#">Bali</a></li>
                                                    <li><a class="" href="#">Gili Lombok</a></li>
                                                    <li><a class="" href="#">Komodo</a></li>
                                                    <li><a class="" href="#">Maumere</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 megasection_size">
                                            <div class="megamenu_section">
                                                <p class="text_color_bolder text_normal">Kalimantan</p>
                                                <ul class="list-unstyled text-small megamenu_list">
                                                    <li><a class="" href="#">Derawan</a></li>
                                                </ul>
                                            </div>
                                            <div class="megamenu_section">
                                                <p class="text_color_bolder text_normal">Sulawesi</p>
                                                <ul class="list-unstyled text-small megamenu_list">
                                                    <li><a class="" href="#">Sangihe</a></li>
                                                    <li><a class="" href="#">Bunaken</a></li>
                                                    <li><a class="" href="#">Lembeh</a></li>
                                                    <li><a class="" href="#">Buyat</a></li>

                                                    <li><a class="" href="#">Gorontalo</a></li>
                                                    <li><a class="" href="#">Tongean</a></li>
                                                    <li><a class="" href="#">Donggala</a></li>
                                                    <li><a class="" href="#">Kendari</a></li>

                                                    <li><a class="" href="#">Makassar</a></li>
                                                    <li><a class="" href="#">Walatobi</a></li>
                                                    <li><a class="" href="#">Bira</a></li>
                                                    <li><a class="" href="#">Selayar</a></li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 megasection_size">
                                            <div class="megamenu_section">
                                                <p class="text_color_bolder text_normal">Maluku</p>
                                                <ul class="list-unstyled text-small megamenu_list">
                                                    <li><a class="" href="#">Morotai</a></li>
                                                    <li><a class="" href="#">Halmahera Barat</a></li>
                                                    <li><a class="" href="#">Ternate</a></li>
                                                    <li><a class="" href="#">Ambon</a></li>
                                                    <li><a class="" href="#">Banda</a></li>                                                </ul>
                                            </div>
                                            <div class="megamenu_section">
                                                <p class="text_color_bolder text_normal">Papua</p>
                                                <ul class="list-unstyled text-small megamenu_list">
                                                    <li><a class="" href="#">Raja Ampat</a></li>
                                                    <li><a class="" href="#">Cendrawasih Bay</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">2</div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dive Areas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dive Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dive Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Book</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
            </li>
            </ul>
                <div class="form-inline my-4 my-lg-0">
                    <i class="img_iconsearch"><img src="img/search.svg"></i>
                    <input type="text" class=" input_with_icon" placeholder="Search" >
                </div>
            </form>
        </div>
        </nav>
    </div>
</section>

<section class="chooser_wrapper">
    <div class="container">
        <div class="row">
            <div class="widget_corner_left">
                <div class="widget_corner_icon">
                    <img src="img/widget1.svg">
                </div>
                <div class="widget_corner_content">
                    <label class="label_small_widget">I'm looking for</label>
                    <div>
                        <select class="chooser_select" id="lookfor">
                            <option value="resort">Dive Resort</option>
                            <option value="liveboard">Live Board</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="widget_corner_between">
                <div class="widget_corner_icon">
                    <img src="img/widget2.svg">
                </div>
                <div class="widget_corner_content">
                    <label class="label_small_widget">Dive Region</label>
                    <div>
                        <select class="chooser_select">
                            <option>Any Region</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <label class="label_small_widget night_counter">0 Nights</label>
            <div class="widget_corner_between">
                <div class="widget_corner_content_date">
                    <label class="label_small_widget">Start Date</label>
                    <div>
                    <input placeholder="Date" value="2020-06-22"  class="textbox-n chooser_select_date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" />
                    </div>
                </div>
            </div>
            <div class="widget_corner_between">
                <div class="widget_corner_content_date">
                    <label class="label_small_widget pushto_right">End Date</label>
                    <div>
                        <input placeholder="Date" value="2020-06-22" class="textbox-n chooser_select_date" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" />
                    </div>
                </div>
            </div>
            <div class="widget_corner_right">
                <div class="widget_corner_content_search">
                    <div class="widget_corner_icon_search">
                        <img src="img/search.svg">
                    </div>
                    <div class="widget_corner_inside">
                        <label class="label_small_widget">Keyword (Optional)</label>
                        <div>
                            <input type="text" class="chooser_search" placeholder="Resort Name, Dive Region, etc">
                        </div>
                    </div>
                    <div class="submit_search">
                        <div class="submit_search_text">Search</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

