 <div class="card_custom_bordered">
    <div class="card-header-noborder" id="howto_resort">
    <h5 class="mb-0 label_card">
        <div class="btn btn-link btn_link_title_big collapsed" data-toggle="collapse" data-target="#collapseHowtos" aria-expanded="true" aria-controls="collapseHowtos">
            <div class="label_card_24">How to get there</div>
        </div>
        <!-- <div class="fa fa-angle-down rotate-icon gorights"></div> -->
    </h5>
    </div>
    <div id="collapseHowtos" class="collapse show" aria-labelledby="howto_resort" data-parent="#accordion">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="style_header">
                    <span class="pre_icon">
                        <img class="lazy" src="img/icon/login.svg">
                    </span>
                    Arrival
                </h5>
                    <ul class="list_controller">
                        <li>
                            The closet International airport Ngurah Rai Despensar in Bali
                        </li>
                        <li>
                            Airport/local hotel and harbour transfer can be organized for an addional charge 
                        </li>
                        <li>
                            The distance from the airport is around 80 km
                        </li>
                    <ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h5 class="style_header">
                    <span class="pre_icon">
                        <img src="img/icon/logoout.svg">
                    </span>
                    Departure</h5>
                    <ul class="list_controller">
                        <li>
                            Once you have checked out at reception you can 
                            make your own to your next destination or join 
                            the resort transfer back to the airport for an additional charge
                        </li>
                    <ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text_underline cursor_pointer button_color">
                        Show map
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>