<div class="card_content_wrapper" id="filter_diveresort">
        <div class="label_card_wrapper">
            <h5 class="style_header">Personal Information</h5>
        </div>
        <div class="card_lines"></div>
        <div class="label_card_wrapper">
            <div class="divider_big"></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="style_header">Email address <i class="mandatory">*</i></label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                        <small id="emailHelp" class="form-text text-muted">As in Passport/Official ID Card (without title/special characters)</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="" class="style_header">Guest Full Name <i class="mandatory">*</i></label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                        <small id="emailHelp" class="form-text text-muted">As in Passport/Official ID Card (without title/special characters)</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                      <div class="form-row">
                            <div class="col-md-6  mb-3">
                                <label for="validationTooltipUsername" class="style_header">Reachable mobile number <i class="mandatory">*</i></label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="validationTooltipUsernamePrepend"><i><img width="15" src="img/indonesian_flag.png"></i>&nbsp; +62 </span>
                                    </div>
                                    <input type="text" class="form-control" id="validationTooltipUsername" placeholder="" aria-describedby="validationTooltipUsernamePrepend" required>
                                    <div class="invalid-tooltip">
                                    Please choose a unique and valid username.
                                    </div>
                                </div>
                                <small id="emailHelp" class="form-text text-muted">e.g. +62812345678, for Country Code (+62) and Mobile No. 0812345678</small>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom03" class="style_header">Contact's email address <i class="mandatory">*</i></label>
                                <input type="text" class="form-control" id="validationCustom03" placeholder="" required>
                                <div class="invalid-feedback">
                                    Please provide a valid city.
                                </div>
                                <small id="emailHelp" class="form-text text-muted">e.g.: email@example.com</small>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                      <div class="form-row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1" class="style_header">Special Request <span class="label_light">(Optional)</span> </label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div style="float:right;">
                        <div style="display:flex;">
                            <div>
                                <button class="button_packages_outline" style="position:relative;top:-8px;margin-right:4px;width:140px;">Change Room</button>
                            </div>
                            <div>
                                <button class="button_packages" style="position:relative;top:-4px;width:140px;">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider_big"></div>
        </div>
        <div class="divider_big"></div>
</div>