 <div class="card_custom_bordered">
        <div class="card-header-noborder" id="diving_services">
        <h5 class="mb-0 label_card">
            <div class="btn btn-link btn_link_title_big collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    <div class="label_card_24">Diving Services</div>
            </div>
            <!-- <div class="fa fa-angle-down rotate-icon gorights"></div> -->
        </h5>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="diving_services" data-parent="#accordion">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <h5 class="style_header">Padi® courses available</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list_controller">
                            <li>Project Aware Specialties</li>
                            <li>Intro Dives/Discover Scuba Diving</li>
                            <li>Open Water Diver</li>
                            <li>Advanced Open Water Diver</li>
                            <li>Rescue Diver</li>
                            <li>Divemaster</li>
                            <li>Instructor/Idc Course</li>
                            <li>Free-Diving Course</li>
                        <ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list_controller">
                            <li>Kids Courses</li>
                            <li>Nitrox Certification</li>
                            <li>Underwater Photography</li>
                            <li>Deep Diver Certification</li>
                            <li>Night Diver</li>
                            <li>Drift Diving</li>
                            <li> Peak Performance Buoyancy</li>
                            <li>Sidemount Diver</li>
                        <ul>
                    </div>
                </div>
                <!-- row 2 -->
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="style_header">Diving Gear</h5>
                    </div>
                        <div class="col-md-6">
                        <h5 class="style_header">Language Spoken</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list_controller">
                            <li>Tanks With Int (Yoke) Valves</li>
                            <li>Din/Int Adapters</li>
                            <li>15L Tanks Available</li>
                            <li>Nitrox ($)</li>
                        <ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list_controller">
                            <li>English</li>
                            <li>Chinese</li>
                            <li>French</li>
                            <li>Indonesian</li>
                        <ul>
                    </div>
                </div>
                <!-- last row -->
                <div class="row">
                    <div class="col-md-6">
                        <h5 class="style_header">Diving Facilities</h5>
                    </div>
                        <div class="col-md-6">
                        <h5 class="style_header">Safety</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list_controller">
                            <li>Training Pool</li>
                            <li>Beach Front Location</li>
                            <li>Air Conditioning</li>
                            <li>Fish Id And Diving Books</li>
                        <ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list_controller">
                            <li>Emergency Oxygen Kit</li>
                            <li>First Aid Kits</li>
                            <li>Vhf Radio</li>
                        <ul>
                    </div>
                </div>
            </div>
        </div>
    </div>