 <div class="card_custom_bordered">
                            <div class="card-header-bordered" id="boat_amenities">
                            <h5 class="mb-0 label_card">
                                <div class="btn btn-link btn_link_title_big collapsed" data-toggle="collapse" data-target="#collapseBoat" aria-expanded="true" aria-controls="collapseBoat">
                                    <div class="label_card_24">Boat amenities</div>
                                </div>
                                <!-- <div class="fa fa-angle-down rotate-icon gorights"></div> -->
                            </h5>
                            </div>
                            <div id="collapseBoat" class="collapse show" aria-labelledby="boat_amenities" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                       <div class="col-md-4">
                                          <h5 class="style_header">Activities</h5>
                                        </div>
                                         <div class="col-md-4">
                                          <h5 class="style_header">Services</h5>
                                        </div>
                                        <div class="col-md-4">
                                          <h5 class="style_header">Sports & Water Sports</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="list_controller">
                                                <li>Land Excursions</li>
                                            <ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="list_controller">
                                                <li>Credit Cards Accepted</li>
                                                <li>En-Suite Bathroom</li>
                                                <li>Wi-Fi (Free)</li>
                                                <li>Air-Conditioning</li>
                                                <li>Spacious Diving Platform</li>
                                                <li>Separate Zodiac/Dhoni</li>
                                                <!--
                                               
                                                -->
                                            <ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="list_controller">
                                                <li>Snorkeling</li>
                                               
                                            <ul>
                                        </div>
                                       
                                    </div>
                                    <!-- row 2 -->
                                    <div class="row">
                                        <div class="col-md-4">
                                          <h5 class="style_header">Great For Family</h5>
                                        </div>
                                         <div class="col-md-4">
                                          <h5 class="style_header">Payment</h5>
                                        </div>
                                        <div class="col-md-4">
                                          <h5 class="style_header">Food & Drink</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="list_controller">
                                                <li>Board Games</li>
                                            <ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="list_controller">
                                                <li>Visa</li>
                                                <li>Mastercard</li>
                                                <li>Cash (Usd)</li>
                                                <li>Cash (Eur)</li>
                                                <li>Cash (Idr)</li>
                                                <li>Cash</li>
                                            <ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="list_controller">
                                                <li>Buffet</li>
                                                <li>Alcohol</li>
                                                <li>Vegetarian Food</li>
                                                <li>Bring Your Own Alcohol</li>
                                            <ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>