 <div class="card_custom_bordered">
                            <div class="card-header-bordered" id="trip_policy">
                            <h5 class="mb-0 label_card">
                                <div class="btn btn-link btn_link_title_big collapsed" data-toggle="collapse" data-target="#collapseTrip" aria-expanded="true" aria-controls="collapseTrip">
                                     <div class="label_card_24">Trip Policy</div>
                                </div>
                                <!-- <div class="fa fa-angle-down rotate-icon gorights"></div> -->
                            </h5>
                            </div>
                            <div id="collapseTrip" class="collapse show" aria-labelledby="trip_policy" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                          <h5 class="style_header">Booking Process</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="list_controller">
                                                <li>
                                                Tortor accumsan quis arcu elementum amet, euismod. Euismod proin viverra elit morbi porttitor. Pretium non rhoncus mauris lacus. Enim egestas in cras urna etiam pellentesque egestas. Gravida diam consequat tincidunt venenatis. Venenatis et ornare nisi mauris mattis ac. Diam amet, ut diam id sed vulputate. Pellentesque enim nec aliquam lectus enim.
                                                Sapien in tincidunt nulla orci. Faucibus viverra mi urna egestas gravida iaculis cursus. Nibh scelerisque enim, vulputate nunc ut amet, lacus fermentum sit. Ipsum leo metus, lorem molestie. Lobortis nec in nisi, nunc tempus, nunc. Scelerisque est a risus diam.
                                                </li>
                                            <ul>
                                        </div>
                                    </div>
                                    <!-- row 2 -->
                                    <div class="row">
                                        <div class="col-md-6">
                                          <h5 class="style_header">Payment Terms</h5>
                                        </div>
                                         <div class="col-md-6">
                                          <h5 class="style_header">Cancellation Fee</h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="list_controller">
                                                <li>Now: 0%</li>
                                                <li>48 hours after booking confirmation: 50%</li>
                                                <li>60 days before trip start: 100%</li>
                                                <!--
                                                    Free cancellation for 48h after confirmation
                                                    5% of the total booking amount will be charged if you cancel more than 67 days prior to arrival
                                                    35% will be charged if you cancel between 67 and 37 days prior to arrival
                                                    100% will be charged if you cancel less than 37 days prior to arrival
                                                -->
                                            <ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="list_controller">
                                                <li>Free cancellation for 48h after confirmation</li>
                                                <li>5% of the total booking amount will be charged if you cancel more than 67 days prior to arrival</li>
                                                <li>35% will be charged if you cancel between 67 and 37 days prior to arrival</li>
                                                <li>100% will be charged if you cancel less than 37 days prior to arrival</li>
                                            <ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>