<div class="card_content_wrapper select_package_wrapper divider_big">
    <div class="label_card_wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card_product_wrapper product_list_resort">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-xs-2 vertical_align">
                            <div class="jumbotext">4</div>
                            <div class="label_light">September</div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 ">
                            <div class="wrapper_product_info">
                                <div class="divider_big"></div>
                                <label class="label_bold_alt" >Dive Bali: 8D + 7N + 15 dives</label>
                                    <div class="review_wrapper">
                                        <label class="label_light">North Bali &nbsp;
                                        </label>
                                    </div>
                                </div>  
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 ">
                            <div class="wrapper_product_info">
                                <div class="label_light">Starts from &nbsp; </div>
                                <div class="label_prices">IDR 12.593.583</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 product_separator_noborder">
                            <button class="button_packages">Select this Package</button>
                            <div class="divider_small"></div>
                            <button class="button_packages_alt" data-toggle="modal" data-target="#exampleModalLong" >See Itinerary</button>
                                <div class="divider_big"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card_product_wrapper product_list_resort">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-xs-2 vertical_align">
                            <div class="jumbotext">16</div>
                            <div class="label_light">September</div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 ">
                            <div class="wrapper_product_info">
                                <div class="divider_big"></div>
                                <label class="label_bold_alt" >Dive Bali: 8D + 7N + 15 dives</label>
                                    <div class="review_wrapper">
                                        <label class="label_light">North Bali &nbsp;
                                        </label>
                                    </div>
                                </div>  
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 ">
                            <div class="wrapper_product_info">
                                <div class="label_light">Starts from &nbsp; </div>
                                <div class="label_prices">IDR 12.593.583</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 product_separator_noborder">
                            <button class="button_packages">Select this Package</button>
                            <div class="divider_small"></div>
                            <button class="button_packages_alt" data-toggle="modal" data-target="#exampleModalLong" >See Itinerary</button>
                                <div class="divider_big"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card_product_wrapper product_list_resort">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-xs-2 vertical_align">
                            <div class="jumbotext">28</div>
                            <div class="label_light">September</div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 ">
                            <div class="wrapper_product_info">
                                <div class="divider_big"></div>
                                <label class="label_bold_alt" >Dive Bali: 8D + 7N + 15 dives</label>
                                    <div class="review_wrapper">
                                        <label class="label_light">North Bali &nbsp;
                                        </label>
                                    </div>
                                </div>  
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 ">
                            <div class="wrapper_product_info">
                                <div class="label_light">Starts from &nbsp; </div>
                                <div class="label_prices">IDR 12.593.583</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 product_separator_noborder">
                            <button class="button_packages">Select this Package</button>
                            <div class="divider_small"></div>
                            <button class="button_packages_alt" data-toggle="modal" data-target="#exampleModalLong" >See Itinerary</button>
                                <div class="divider_big"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card_product_wrapper product_list_resort">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-xs-2 vertical_align">
                            <div class="jumbotext">3</div>
                            <div class="label_light">September</div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 ">
                            <div class="wrapper_product_info">
                                <div class="divider_big"></div>
                                <label class="label_bold_alt" >Wonderful Lombok: 8D + 7N + 15 dives</label>
                                    <div class="review_wrapper">
                                        <label class="label_light">North Lombok &nbsp;
                                        </label>
                                    </div>
                                </div>  
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 ">
                            <div class="wrapper_product_info">
                                <div class="label_light">Starts from &nbsp; </div>
                                <div class="label_prices">IDR 12.593.583</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 product_separator_noborder">
                            <button class="button_packages">Select this Package</button>
                            <div class="divider_small"></div>
                            <button class="button_packages_alt" data-toggle="modal" data-target="#exampleModalLong" >See Itinerary</button>
                                <div class="divider_big"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card_product_wrapper product_list_resort">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-xs-2 vertical_align">
                            <div class="jumbotext">18</div>
                            <div class="label_light">September</div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 ">
                            <div class="wrapper_product_info">
                                <div class="divider_big"></div>
                                <label class="label_bold_alt" >Dive Bali: 8D + 7N + 15 dives</label>
                                    <div class="review_wrapper">
                                        <label class="label_light">North Lombok &nbsp;
                                        </label>
                                    </div>
                                </div>  
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 ">
                            <div class="wrapper_product_info">
                                <div class="label_light">Starts from &nbsp; </div>
                                <div class="label_prices">IDR 12.593.583</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 product_separator_noborder">
                            <button class="button_packages">Select this Package</button>
                            <div class="divider_small"></div>
                            <button class="button_packages_alt" data-toggle="modal" data-target="#exampleModalLong" >See Itinerary</button>
                                <div class="divider_big"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-12">
                <div class="card_product_wrapper product_list_resort">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-xs-2 vertical_align">
                            <div class="jumbotext">25</div>
                            <div class="label_light">September</div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-4 ">
                            <div class="wrapper_product_info">
                                <div class="divider_big"></div>
                                <label class="label_bold_alt" >Dive Bali: 8D + 7N + 15 dives</label>
                                    <div class="review_wrapper">
                                        <label class="label_light">East Lombok &nbsp;
                                        </label>
                                    </div>
                                </div>  
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 ">
                            <div class="wrapper_product_info">
                                <div class="label_light">Starts from &nbsp; </div>
                                <div class="label_prices">IDR 12.593.583</div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3 product_separator_noborder">
                            <button class="button_packages">Select this Package</button>
                            <div class="divider_small"></div>
                            <button class="button_packages_alt" data-toggle="modal" data-target="#exampleModalLong" >See Itinerary</button>
                                <div class="divider_big"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
