 <div class="card_custom_top">
                            <div class="card-header-noborder card_custom_header_noborder" id="resort_amenities">
                            <h5 class="mb-0 label_card">
                                <div class="btn btn-link btn_link_title_big collapsed" data-toggle="collapse" data-target="#collapseBoat" aria-expanded="true" aria-controls="collapseBoat">
                                    <div class="label_card_24">Resort amenities</div>
                                </div>
                                <!-- <div class="fa fa-angle-down rotate-icon gorights"></div> -->
                            </h5>
                            </div>
                            <div id="collapseBoat" class="collapse show" aria-labelledby="resort_amenities" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                       <div class="col-md-4">
                                          <h5 class="style_header">
                                            <span class="pre_icon">
                                                <img src="img/icon/room_service.svg">
                                            </span>
                                            In-Room Facilities
                                          </h5>
                                        </div>
                                         <div class="col-md-4">
                                          <h5 class="style_header">
                                            <span class="pre_icon">
                                                <img src="img/icon/restaurant.svg">
                                            </span> 
                                          Food and Drinks</h5>
                                        </div>
                                        <div class="col-md-4">
                                          <h5 class="style_header">
                                            <span class="pre_icon">
                                                <img src="img/icon/hotel.svg">
                                            </span>
                                            Public Facilities
                                          </h5>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="list_controller">
                                                <li>Bathrobe</li>
                                                <li>Bathtub</li>
                                                <li>Cable TV</li>
                                                <li>Desk</li>
                                                <li>Hairdryer</li>
                                                <li>In-room safe</li>
                                                <li>Kitchenette</li>
                                                <li>Minibar</li>
                                                <li>Refrigerator</li>
                                                <li>Separate shower and tub</li>
                                                <li>Shower</li>
                                                <li>TV</li>
                                            <ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="list_controller">
                                                <li>A la carte breakfast</li>
                                                <li>A la carte dinner</li>
                                                <li>A la carte lunch</li>
                                                <li>Breakfast</li>
                                                <li>Breakfast and dinner</li>
                                                <li>Breakfast served to the table</li>
                                                <li>Gluten-free meals</li>
                                                <li>Set menu dinner</li>
                                                <li>Dietary menu</li>
                                                <li>Vegetarian meal</li>
                                            <ul>
                                        </div>
                                        <div class="col-md-4">
                                            <ul class="list_controller">
                                                <li>Parking</li>
                                                <li>Coffee/tea in lobby</li>
                                                <li>Early check-in</li>
                                                <li>Late check-out</li>
                                                <li>Restaurant</li>
                                                <li>Breakfast restaurant</li>
                                                <li>Dinner restaurant</li>
                                                <li>Lunch restaurant</li>
                                                <li>Room service</li>
                                                <li>Safety deposit box</li>
                                                <li>WiFi in public area</li>
                                            <ul>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>