<div class="card_product_wrapper product_list_resort">
    <div class="row" style="padding:10px;">
        <div class="col-lg-3 col-md-3">
            <img src="img/resorts/1.jpeg" width="67" height="67" style="border-radius:8px;">
        </div>
        <div style="position:relative;top:5px;">
            <label class="label_card">Master Selam Jakarta</label>
            <p class="text_content">PADI 5 Star Center · 5 Courses Available</p>
        </div>
    </div>
</div>