<div class="row">
            <div class="col-lg-12 col-md-12  col-xs-12">
                <div class="card_content_wrapper" id="filter_diveresort">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                                <div class="label_card_wrapper">
                                    <label class="label_card_24">Review&nbsp;
                                        <span class="label_light">from</span>
                                        <img class="image_review" src="img/tripadvisor.svg">
                                    </label>
                                </div>
                                <div class="label_card_wrapper2">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                        <div class="label_card_wrapper">
                           <div class="review_wrapper style_content">
                                <div>Read all reviews</div>&nbsp;&nbsp;&nbsp;&nbsp;
                                 <div>Write a review</div>
                           </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="label_card_wrapper review_point_position">
                                <div class="rating_review_tripadvisor">
                                    <span class="rating_review_scores">4,2</span> 
                                    <span class="rating_review_total">/5</span>
                                </div>
                                <div class="rating_bar">
                                    <div>
                                        <img src="img/tripadvisor_logoonly.svg"/>
                                    </div>
                                    <div class="rating_point_with_image">
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                        <span class="dot"></span>
                                    </div>
                                </div>
                                <div class="label_light">From 437 Reviewer</div>
                            </div>
                        </div>
                         <div class="col-md-9 padding_bottom_medium">
                          <div class="label_card_wrapper">
                            <div class="card_outline">
                                <div class="rating_point_with_noimage">
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                </div>
                                <div class="style_header divider_medium">
                                    Bittersweet experience
                                </div>
                                <p class="text_content divider_medium">
                                    My wife and I did a few specialities at Blue Corner and Lauren 
                                    the in house marine biologist was fabulous! You could not 
                                    fault the course at all. The diving was ( as it is in Nusa Lembongan area...
                                </p>
                                <div class="flex">
                                    <div class="label_light divider_biggest_top">
                                        Review by rory0408 a TripAdvisor traveler
                                    </div>
                                    <div class="label_light divider_biggest_top flex_right text_underline">
                                        Read full review
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="label_card_wrapper">
                            <div class="card_outline">
                                <div class="rating_point_with_noimage">
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                </div>
                                <div class="style_header divider_medium">
                                    Bittersweet experience
                                </div>
                                <p class="text_content divider_medium">
                                    My wife and I did a few specialities at Blue Corner and Lauren 
                                    the in house marine biologist was fabulous! You could not 
                                    fault the course at all. The diving was ( as it is in Nusa Lembongan area...
                                </p>
                                <div class="flex">
                                    <div class="label_light divider_biggest_top">
                                        Review by rory0408 a TripAdvisor traveler
                                    </div>
                                    <div class="label_light divider_biggest_top flex_right text_underline">
                                        Read full review
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="label_card_wrapper">
                            <div class="card_outline">
                                <div class="rating_point_with_noimage">
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                </div>
                                <div class="style_header divider_medium">
                                    Bittersweet experience
                                </div>
                                <p class="text_content divider_medium">
                                    My wife and I did a few specialities at Blue Corner and Lauren 
                                    the in house marine biologist was fabulous! You could not 
                                    fault the course at all. The diving was ( as it is in Nusa Lembongan area...
                                </p>
                                <div class="flex">
                                    <div class="label_light divider_biggest_top">
                                        Review by rory0408 a TripAdvisor traveler
                                    </div>
                                    <div class="label_light divider_biggest_top flex_right text_underline">
                                        Read full review
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>