<div class="card_content_wrapper" id="filter_diveresort">
                    <div class="row">
                        <div class="col-lg-9 col-md-9">
                                <div class="label_card_wrapper">
                                    <label class="label_card_24">Room Information
                                    </label>
                                </div>
                        </div>
                    </div>
                    <div class="label_card_wrapper">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="nocard_content_wrapper product_list_resort" id="resort_1">
                                            <div class="row">
                                                <div class="col-lg-4 col-md-4 col-xs-4">
                                                        <div class="demox1 hasActive">
                                                                <ul id="cabinGallery3" class="img">
                                                                    <li data-src="img/resort_detail/1.jpeg" data-thumb="img/resort_detail/1.jpeg" >
                                                                        <img src="img/resort_detail/1.jpeg"  width="100%" />
                                                                    </li>
                                                                    <li data-src="img/resort_detail/2.jpeg" data-thumb="img/resort_detail/2.jpeg"  >
                                                                        <img src="img/resort_detail/2.jpeg"  width="100%" />
                                                                    </li>
                                                                    <li data-src="img/resort_detail/3.jpeg" data-thumb="img/resort_detail/3.jpeg"  >
                                                                        <img src="img/resort_detail/3.jpeg"  width="100%" />
                                                                    </li>
                                                                    <li data-src="img/resort_detail/4.jpeg" data-thumb="img/resort_detail/4.jpeg" >
                                                                        <img src="img/resort_detail/4.jpeg"  width="100%" />
                                                                    </li>
                                                                </ul>
                                                                <div class="divider_big"></div>
                                                        </div>
                                                        <div class="label_light">
                                                            <span class="pre_icon">
                                                                <img src="img/icon/resize.svg">
                                                            </span>
                                                            110.0 sqm
                                                        </div>
                                                        <div class="divider_small"></div>
                                                        <div class="label_light">
                                                            <span class="pre_icon">
                                                                <img src="img/icon/bed.svg">
                                                            </span>
                                                            1 King Bed
                                                        </div>
                                                        <div class="divider_small"></div>
                                                        <div class="label_light">
                                                            <span class="pre_icon">
                                                                <img src="img/icon/hopme.svg">
                                                            </span>
                                                            4 Guest
                                                        </div>
                                                         <div class="divider_big"></div>
                                                        <button class="button_packages_outline" data-toggle="modal" data-target="#dialog_room_info">Show Room Info</button>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-xs-6 ">
                                                    <div class="wrapper_product_info">
                                                        <div class="wrapper_product_info">
                                                            <div class="card_content_wrapper" id="filter_liveboard">
                                                                <div class="label_card_wrapper">
                                                                    <label class="style_header">Diver package x 1</label>
                                                                </div>
                                                                <div class="card_lines">
                                                                </div>
                                                                <div class="label_card_wrapper2">
                                                                    <div class="row">
                                                                        <ul class="list_controller">
                                                                            <li>
                                                                                12 boat dives per diver
                                                                            </li>
                                                                            <li>
                                                                                Meals as per chosen meal plan
                                                                            </li>
                                                                            <li>
                                                                                Free DAN dive accident insurance
                                                                            </li>
                                                                            <li>
                                                                                Free WiFi (public areas)
                                                                            </li>
                                                                            <li>
                                                                                Welcome drink
                                                                            </li>
                                                                            <li>
                                                                                Complimentary toiletries 
                                                                            </li>
                                                                        <ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>    
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

            <!-- Modal -->
            <div class="modal fade" id="dialog_package_detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-body"  style="height:100%;">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="nocard_content_wrapper_modal">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8">
                                                <label class="label_card_24">Package Details
                                                </label>
                                                <div class="label_card_subheader">
                                                    <div class="label_prices">IDR 12.593.583</div>
                                                </div>
                                                <div class="divider_big"></div>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="space_inside_product2">
                                                    <div class="col-lg-12 col-md-412 col-xs-12 scores_container">
                                                        <span class="mybadge3 img_services"><img src="img/person.svg">&nbsp;Single Occupancy Availability</span>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- dropdown 1-->
                                    <div class="row">
                                        <div class="col-md-12">
                                                <div class="card-header-noborder card_custom_header_noborder" id="diving_spots">
                                                    <h5 class="mb-0 label_card">
                                                        <div class="btn btn-link btn_link_title_big_modal collapsed" data-toggle="collapse" data-target="#collapseSpots" aria-expanded="true" aria-controls="collapseSpots">
                                                            <div class="label_card">What's include</div>
                                                        </div>
                                                    </h5>
                                                </div>
                                                <div id="collapseSpots" class="collapse show" aria-labelledby="diving_spots" data-parent="#accordion">
                                                    {# content goes here #}
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <ul class="list_controller">
                                                                    <li>
                                                                        Free DAN dive accident insurance (if trip value > USD 1500 per person)
                                                                    </li>
                                                                    <li>
                                                                        Full board, including(see more)
                                                                    </li>
                                                                    <li>
                                                                        Weight Belt/Weights/Tank(s)
                                                                    </li>
                                                                    <li>
                                                                        Transfer from/to the airport (round-trip, only on boat arrival & departure days)
                                                                    </li>
                                                                    <li>
                                                                        Transfer from/to local hotels (round-trip, scheduled times only)
                                                                    </li>
                                                                    <li>
                                                                        Dive guides
                                                                    </li>
                                                                    <li>
                                                                        Fins, mask, snorkel (ABC)
                                                                    </li>
                                                                <ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="label_card_wrapper">
                                                <div class="label_card">Iconinc Marine Life you could Encounter</div>
                                                <div class="divider_big"></div>
                                                <div class="owl-carousel owl-theme">
                                                    <div>
                                                        <img src="img/modal/1.jpeg" height:100px; />
                                                    </div>
                                                    <div>
                                                        <img src="img/modal/2.jpeg" height:100px; />
                                                    </div>
                                                    <div>
                                                    <img src="img/modal/3.jpeg" height:100px; />
                                                    </div>
                                                <div class="divider_big"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- dropdown 2-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card_custom_noborder">
                                                <div class="card-header-noborder card_custom_header_noborder" id="diving_spots">
                                                    <h5 class="mb-0 label_card">
                                                        <div class="btn btn-link btn_link_title_big_modal collapsed" data-toggle="collapse" data-target="#collapseSpots" aria-expanded="false" aria-controls="collapseSpots">
                                                                <div class="label_card">What's not include</div>
                                                        </div>
                                                    </h5>
                                                </div>
                                                <div id="collapseSpots" class="collapse" aria-labelledby="diving_spots" data-parent="#accordion">
                                                    {# content goes here #}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- dropdown 3-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card_custom_noborder">
                                                <div class="card-header-noborder card_custom_header_noborder" id="diving_spots">
                                                    <h5 class="mb-0 label_card">
                                                        <div class="btn btn-link btn_link_title_big_modal collapsed" data-toggle="collapse" data-target="#collapseSpots" aria-expanded="false" aria-controls="collapseSpots">
                                                                <div class="label_card">Optional Extras</div>
                                                        </div>
                                                    </h5>
                                                </div>
                                                <div id="collapseSpots" class="collapse" aria-labelledby="diving_spots" data-parent="#accordion">
                                                    {# content goes here #}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                     <!-- dropdown 4-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card_custom_noborder">
                                                <div class="card-header-noborder card_custom_header_noborder" id="diving_spots">
                                                    <h5 class="mb-0 label_card">
                                                        <div class="btn btn-link btn_link_title_big_modal collapsed" data-toggle="collapse" data-target="#collapseSpots" aria-expanded="false" aria-controls="collapseSpots">
                                                                <div class="label_card">Good to Know</div>
                                                        </div>
                                                    </h5>
                                                </div>
                                                <div id="collapseSpots" class="collapse" aria-labelledby="diving_spots" data-parent="#accordion">
                                                    {# content goes here #}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- dropdown 5-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="card_custom_noborder">
                                                <div class="card-header-noborder card_custom_header_noborder" id="diving_spots">
                                                    <h5 class="mb-0 label_card">
                                                        <div class="btn btn-link btn_link_title_big_modal collapsed" data-toggle="collapse" data-target="#collapseSpots" aria-expanded="false" aria-controls="collapseSpots">
                                                                <div class="label_card">Payment Cancellation Fees</div>
                                                        </div>
                                                    </h5>
                                                </div>
                                                <div id="collapseSpots" class="collapse" aria-labelledby="diving_spots" data-parent="#accordion">
                                                    {# content goes here #}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


          <!-- Modal room info -->
            <div class="modal fade" id="dialog_room_info" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="nocard_content_wrapper_modal">
                                    <div class="row">
                                        <div class="col-lg-8 col-md-8">
                                                <div class="owl-carousel owl-theme">
                                                        <div>
                                                            <img src="img/resort_detail/1.jpeg"/>
                                                        </div>
                                                        <div>
                                                            <img src="img/resort_detail/2.jpeg"/>
                                                        </div>
                                                        <div>
                                                            <img src="img/resort_detail/3.jpeg"   />
                                                        </div>
                                                        <div>
                                                            <img src="img/resort_detail/4.jpeg"  />
                                                        </div>
                                                        <div class="divider_big"></div>
                                                </div>
                                        </div>
                                        <div class="card_lines"></div>
                                        <div class="col-md-4">
                                            <div class="room_details_scrollable" style="height:603px; overflow-y:scroll;">
                                                <h5 class="style_header">Room Information Details</h5>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="label_light">
                                                            <span class="pre_icon">
                                                                <img src="img/icon/resize.svg">
                                                            </span>
                                                            110.0 sqm
                                                        </div>
                                                        <div class="divider_small"></div>
                                                        <div class="label_light">
                                                            <span class="pre_icon">
                                                                <img src="img/icon/bed.svg">
                                                            </span>
                                                            1 King Bed
                                                        </div>
                                                        <div class="divider_small"></div>
                                                        <div class="label_light">
                                                            <span class="pre_icon">
                                                                <img src="img/icon/hopme.svg">
                                                            </span>
                                                            4 Guest
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="divider_big">
                                                <div class="card_lines"></div>
                                                </div>
                                                <h5 class="style_header">About this room</h5>
                                                <ul class="list_controller">
                                                    <li>Air conditioning</li>
                                                    <li>Fan</li>
                                                    <li>Complimentary bottled water</li>
                                                    <li>Coffee / tea maker</li>
                                                    <li>Minibar</li>
                                                    <li>Refrigerator</li>
                                                    <li>Television</li>
                                                    <li>Private pool</li>
                                                    <li>Desk</li>
                                                    <li>In-room safe</li>
                                                    <li>Ironing facility</li>
                                                    <li>Dishwasher</li>
                                                </ul>
                                                <div class="divider_big">
                                                <h5 class="style_header">Bathroom Amenities</h5>
                                                <ul class="list_controller">
                                                    <li>Hot water</li>
                                                    <li>Private bathroom</li>
                                                    <li>Shower</li>
                                                    <li>Toiletries</li>
                                                </ul>
                                                <h5 class="style_header">About this room</h5>
                                                <p class="text_content">
                                                Guest enjoy FREE benefit: Free One Time Floating Breakfast for 6 persons. Valid for minimum stay o
                                                </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>