<div class="card_content_wrapper" id="filter_diveresort">
        <div class="label_card_wrapper">
            <h5 class="style_header">Blue Corner Dive Resort</h5>
        </div>
        <div class="card_lines"></div>
        <div class="label_card_wrapper">
            <div class="divider_big"></div>
            <div class="row">
                <div class="col-lg-3">
                    <input type="date" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                </div>
                <div class="col-lg-3">
                    <input type="date" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                </div>
                <div class="col-lg-3">
                    <select class="form-control">
                        <option value="1">1 Guest</option>
                        <option value="1">2 Guest</option>
                        <option value="1">3 Guest</option>
                        <option value="1">4 Guest</option>
                    </select>
                </div>
                <div class="col-lg-3">
                    <button class="button_packages">Change Search</button>
                </div>
            </div>
            <div class="divider_big"></div>
        </div>
</div>
<div class="divider_big"></div>